.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 24px;
    background: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #ccc;
}

.logo {
    width: Fixed (132px) px;
    height: Fill (48px) px;
    gap: 12px;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: gray;
    padding: 13px 30px;
    border-bottom: 3px solid transparent;
    transition: color 0.3s;
    position: relative;
    z-index: 10;
}

.nav-link:hover {
    color: #23b04a;
}

.nav-link.active {
    color: #23b04a;
    border-bottom-color: #23b04a;
    bottom: 0px;
}

.header {
    border-bottom: 0px solid #ccc;
}

.nav-link.active::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    border-bottom: -3px solid #23b04a;
}

.user {
    width: 32px;
    height: 32px;
    gap: 0px;
    border-radius: 32px;
    border: 1px solid #f5f5f5;
}
