.searchForm {
    display: flex;
    align-items: center;
    position: relative;
    padding: 50px;
    box-sizing: border-box;
    opacity: 1;
}

.searchForm input[type="text"] {
    flex: 1;
    padding-right: 40px;
}

.searchForm .QRcode {
    position: absolute;
    right: 60px;
    height: 24px;
    width: 24px;
}

.text {
    width: Hug (544px)px;
    height: Hug (24px)px;
    top: 16px;
    left: 16px;
    gap: 4px;
    padding: 0px 10px;
}

input {
    min-width: 936px;
    min-height: 56px;
    gap: 24px;
    padding: 52px, 24px, 52px, 24px;
    border: 1px solid #0000001F;
}