*, *::before, *::after {
    box-sizing: border-box;
}

.header {
    width: 100vw;
}

body {
    font-family: 'Roboto', sans-serif;
}

.favoriteDeviceList {
    padding: 24px;
    background-color: #f5f5f5;
}

.device-card {
    background: #ffffff;
}

body {
    margin: 0;
    padding: 0;
}